In [1]:
import numpy as np
import pandas as pd
from scipy.stats import zscore

In [2]:
df = pd.read_csv('train.csv')

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          137 non-null    int64
 1   Open Date   137 non-null    object
 2   City        137 non-null    object
 3   City Group  137 non-null    object
 4   Type        137 non-null    object
 5   P1          137 non-null    int64
 6   P2          137 non-null    float64
 7   P3          137 non-null    float64
 8   P4          137 non-null    float64
 9   P5          137 non-null    int64
 10  P6          137 non-null    int64
 11  P7          137 non-null    int64
 12  P8          137 non-null    int64
 13  P9          137 non-null    int64
 14  P10         137 non-null    int64
 15  P11         137 non-null    int64
 16  P12         137 non-null    int64
 17  P13         137 non-null    float64
 18  P14         137 non-null    int64
 19  P15         137 non-null    int64
 20  P16         137 non-null    int64
 21  P17         137 non-null    int64
 22  P18         137 non-null    int64
 23  P19         137 non-null    int64
 24  P20         137 non-null    int64
 25  P21         137 non-null    int64
 26  P22         137 non-null    int64
 27  P23         137 non-null    int64
 28  P24         137 non-null    int64
 29  P25         137 non-null    int64
 30  P26         137 non-null    float64
 31  P27         137 non-null    float64
 32  P28         137 non-null    float64
 33  P29         137 non-null    float64
 34  P30         137 non-null    int64
 35  P31         137 non-null    int64
 36  P32         137 non-null    int64
 37  P33         137 non-null    int64
 38  P34         137 non-null    int64
 39  P35         137 non-null    int64
 40  P36         137 non-null    int64
 41  P37         137 non-null    int64
 42  revenue     137 non-null    float64
dtypes: float64(9), int64(30), object(4)
memory usage: 46.1+ KB

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [3]:
df_test = pd.read_csv('test.csv')
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Id          100000 non-null  int64
 1   Open Date   100000 non-null  object
 2   City        100000 non-null  object
 3   City Group  100000 non-null  object
 4   Type        100000 non-null  object
 5   P1          100000 non-null  int64
 6   P2          100000 non-null  float64
 7   P3          100000 non-null  float64
 8   P4          100000 non-null  float64
 9   P5          100000 non-null  int64
 10  P6          100000 non-null  int64
 11  P7          100000 non-null  int64
 12  P8          100000 non-null  int64
 13  P9          100000 non-null  int64
 14  P10         100000 non-null  int64
 15  P11         100000 non-null  int64
 16  P12         100000 non-null  int64
 17  P13         100000 non-null  float64
 18  P14         100000 non-null  int64
 19  P15         100000 non-null  int64
 20  P16         100000 non-null  int64
 21  P17         100000 non-null  int64
 22  P18         100000 non-null  int64
 23  P19         100000 non-null  int64
 24  P20         100000 non-null  int64
 25  P21         100000 non-null  int64
 26  P22         100000 non-null  int64
 27  P23         100000 non-null  int64
 28  P24         100000 non-null  int64
 29  P25         100000 non-null  int64
 30  P26         100000 non-null  float64
 31  P27         100000 non-null  float64
 32  P28         100000 non-null  float64
 33  P29         100000 non-null  float64
 34  P30         100000 non-null  int64
 35  P31         100000 non-null  int64
 36  P32         100000 non-null  int64
 37  P33         100000 non-null  int64
 38  P34         100000 non-null  int64
 39  P35         100000 non-null  int64
 40  P36         100000 non-null  int64
 41  P37         100000 non-null  int64
dtypes: float64(8), int64(30), object(4)
memory usage: 32.0+ MB

In [4]:
mean_price=df['revenue'].mean()
mean_price

4453532.613138686

In [6]:


naive_predic = pd.DataFrame({
    'Id': df_test['Id'],
    'Prediction': mean_price
})
naive_predic.to_csv('naive-predict-submit.csv', index=False)

In [29]:


from pandas_profiling import ProfileReport

eda_report = ProfileReport(df, minimal=True)
eda_report.to_file("report.html")
# no obvious warnings
eda_report.to_widgets()

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=57.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

HBox(children=(FloatProgress(value=0.0, description='Render widgets', max=1.0, style=ProgressStyle(description…

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [116]:

df['Open_Date_Converted'] = pd.to_datetime(df['Open Date'])
df['year'] = df['Open_Date_Converted'].dt.year 
df['month'] = df['Open_Date_Converted'].dt.month 
df['day'] = df['Open_Date_Converted'].dt.day

In [229]:
df_num = df.select_dtypes(exclude ='object')
num_features = df_num.columns.tolist()
num_features.remove('Id')
num_features.remove('revenue')
num_features.remove('month')
num_features.remove('day')
num_features.remove('Open_Date_Converted')


df_cat = df.select_dtypes(include ='object') 

cat_features = df_cat.columns.tolist()
cat_features.append('month')
cat_features.append('day')

In [230]:
cat_features

['Open Date', 'City', 'City Group', 'Type', 'month', 'day']

In [231]:
num_features

['P1',
 'P2',
 'P3',
 'P4',
 'P5',
 'P6',
 'P7',
 'P8',
 'P9',
 'P10',
 'P11',
 'P12',
 'P13',
 'P14',
 'P15',
 'P16',
 'P17',
 'P18',
 'P19',
 'P20',
 'P21',
 'P22',
 'P23',
 'P24',
 'P25',
 'P26',
 'P27',
 'P28',
 'P29',
 'P30',
 'P31',
 'P32',
 'P33',
 'P34',
 'P35',
 'P36',
 'P37',
 'year']

In [232]:

df.head(9)

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P33,P34,P35,P36,P37,revenue,Open_Date_Converted,year,month,day
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,0,0,0,0,0,6923131.0,2008-02-14,2008,2,14
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,0,0,0,0,0,2055379.0,2013-03-09,2013,3,9
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,2,3,4,3,3,4316715.0,2009-05-09,2009,5,9
6,6,10/11/2010,İstanbul,Big Cities,IL,2,3.0,4.0,4.0,1,...,2,3,5,4,4,5166635.0,2010-10-11,2010,10,11
7,7,06/21/2011,İstanbul,Big Cities,IL,4,5.0,4.0,5.0,2,...,0,0,0,0,0,4491607.0,2011-06-21,2011,6,21
11,11,05/22/2012,İstanbul,Big Cities,IL,2,4.0,4.0,4.0,2,...,2,3,4,4,2,5161370.0,2012-05-22,2012,5,22
12,12,02/28/2013,Ankara,Big Cities,IL,2,2.0,4.0,4.0,2,...,0,0,0,0,0,1734634.0,2013-02-28,2013,2,28
13,13,10/16/2010,İstanbul,Big Cities,FC,4,5.0,4.0,4.0,1,...,0,0,0,0,0,4807746.0,2010-10-16,2010,10,16
14,14,12/29/2011,Bursa,Other,FC,2,2.0,4.0,4.0,1,...,0,0,0,0,0,1999097.0,2011-12-29,2011,12,29

In [233]:
X = df.drop(['revenue'], axis=1)
y = df['revenue']
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 1 to 136
Data columns (total 46 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   92 non-null     int64
 1   Open Date            92 non-null     object
 2   City                 92 non-null     object
 3   City Group           92 non-null     object
 4   Type                 92 non-null     object
 5   P1                   92 non-null     int64
 6   P2                   92 non-null     float64
 7   P3                   92 non-null     float64
 8   P4                   92 non-null     float64
 9   P5                   92 non-null     int64
 10  P6                   92 non-null     int64
 11  P7                   92 non-null     int64
 12  P8                   92 non-null     int64
 13  P9                   92 non-null     int64
 14  P10                  92 non-null     int64
 15  P11                  92 non-null     int64
 16  P12                  92 non-null     int64
 17  P13                  92 non-null     float64
 18  P14                  92 non-null     int64
 19  P15                  92 non-null     int64
 20  P16                  92 non-null     int64
 21  P17                  92 non-null     int64
 22  P18                  92 non-null     int64
 23  P19                  92 non-null     int64
 24  P20                  92 non-null     int64
 25  P21                  92 non-null     int64
 26  P22                  92 non-null     int64
 27  P23                  92 non-null     int64
 28  P24                  92 non-null     int64
 29  P25                  92 non-null     int64
 30  P26                  92 non-null     float64
 31  P27                  92 non-null     float64
 32  P28                  92 non-null     float64
 33  P29                  92 non-null     float64
 34  P30                  92 non-null     int64
 35  P31                  92 non-null     int64
 36  P32                  92 non-null     int64
 37  P33                  92 non-null     int64
 38  P34                  92 non-null     int64
 39  P35                  92 non-null     int64
 40  P36                  92 non-null     int64
 41  P37                  92 non-null     int64
 42  Open_Date_Converted  92 non-null     datetime64[ns]
 43  year                 92 non-null     int64
 44  month                92 non-null     int64
 45  day                  92 non-null     int64
dtypes: datetime64[ns](1), float64(8), int64(33), object(4)
memory usage: 33.8+ KB

In [234]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=31)

print(X_train.shape)
print(X_test.shape)

(82, 46)
(10, 46)

In [235]:


from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
num_pipeline = Pipeline(
    steps=[
        ('num_imputer', SimpleImputer()),
        ('scaler', StandardScaler()),
        ]
)
cat_pipeline = Pipeline(
    steps=[
        ('cat_imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder(handle_unknown="ignore")),
    ]
)
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(
    transformers=[
        ('num_pipeline', num_pipeline, num_features),
        ('cat_pipeline', cat_pipeline, cat_features),
    ]
)

In [236]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.svm import SVR
from sklearn.ensemble import VotingRegressor
r1 = LinearRegression()
r2 =SVR()
r3=SGDRegressor(max_iter= 100000)

voting_reg_pipe = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('voting_reg', VotingRegressor([('lr', r1),('svm', r2),('sgd', r3)])),
    ]
)

In [237]:
voting_reg_pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('preprocessor',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('num_pipeline',
                                                  Pipeline(memory=None,
                                                           steps=[('num_imputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value=None,
                                                                                 missing_values=nan,
                                                                                 strategy='mean',
                                                                                 verbose=0)),
                                                                  ('scaler',
                                                                   StandardScaler(copy=Tru...
                                              SGDRegressor(alpha=0.0001,
                                                           average=False,
                                                           early_stopping=False,
                                                           epsilon=0.1,
                                                           eta0=0.01,
                                                           fit_intercept=True,
                                                           l1_ratio=0.15,
                                                           learning_rate='invscaling',
                                                           loss='squared_loss',
                                                           max_iter=100000,
                                                           n_iter_no_change=5,
                                                           penalty='l2',
                                                           power_t=0.25,
                                                           random_state=None,
                                                           shuffle=True,
                                                           tol=0.001,
                                                           validation_fraction=0.1,
                                                           verbose=0,
                                                           warm_start=False))],
                                 n_jobs=None, weights=None))],
         verbose=False)

In [238]:
voting_pred=voting_reg_pipe.predict(X_test)

In [239]:
from sklearn.metrics import mean_squared_error
lin_mse = mean_squared_error(y_test, voting_pred) 
lin_rmse = np.sqrt(lin_mse)
lin_rmse

1890665.693246957

In [240]:
from sklearn.ensemble import RandomForestRegressor

random_forest_reg_pipeline = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
       ('random_forest_reg', RandomForestRegressor()),
    ]
)

In [241]:
from sklearn.model_selection import GridSearchCV

param_grid = [
    {
        
        'random_forest_reg__max_depth': [2,5,10, 20, 30],
        'random_forest_reg__n_estimators': [200, 400,600, 800, 1000, 1200, 1400, 1600, 1800, 2000]
        
    }
]
# set up the grid search 
grid_search = GridSearchCV(random_forest_reg_pipeline, param_grid, cv=5,
                          scoring='neg_mean_squared_error',
                          return_train_score=True)

# train the model using the full pipeline
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('preprocessor',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('num_pipeline',
                                                                         Pipeline(memory=None,
                                                                                  steps=[('num_imputer',
                                                                                          SimpleImputer(add_indicator=False,
                                                                                                        copy=True,
                                                                                                        fill_value=None,
                                                                                                        missing_values=nan,
                                                                                                        strategy='mean',
                                                                                                        v...
                                                              oob_score=False,
                                                              random_state=None,
                                                              verbose=0,
                                                              warm_start=False))],
                                verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'random_forest_reg__max_depth': [2, 5, 10, 20, 30],
                          'random_forest_reg__n_estimators': [200, 400, 600,
                                                              800, 1000, 1200,
                                                              1400, 1600, 1800,
                                                              2000]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring='neg_mean_squared_error', verbose=0)

In [242]:
best_random_forest_reg = grid_search.best_estimator_

In [243]:
grid_search.best_params_

{'random_forest_reg__max_depth': 20, 'random_forest_reg__n_estimators': 400}

In [244]:
pred_random_forest = best_random_forest_reg.predict(X_test)

In [245]:

lin_mse = mean_squared_error(y_test, pred_random_forest) 
lin_rmse = np.sqrt(lin_mse)
lin_rmse

1511027.6976550936

In [246]:

from sklearn.ensemble import GradientBoostingRegressor

gbrt_pipeline = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
       ('gbrt', GradientBoostingRegressor()),
    ]
)

In [247]:
from sklearn.model_selection import GridSearchCV

param_grid2 = [
    {
        
        'gbrt__max_depth': [2,5,10, 20, 30],
        'gbrt__n_estimators': [200, 400,600, 800, 1000, 1200, 1400, 1600, 1800, 2000]
        
    }
]
# set up the grid search 
grid_search2 = GridSearchCV(gbrt_pipeline, param_grid2, cv=5,
                          scoring='neg_mean_squared_error',
                          return_train_score=True)

# train the model using the full pipeline
grid_search2.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=Pipeline(memory=None,
                                steps=[('preprocessor',
                                        ColumnTransformer(n_jobs=None,
                                                          remainder='drop',
                                                          sparse_threshold=0.3,
                                                          transformer_weights=None,
                                                          transformers=[('num_pipeline',
                                                                         Pipeline(memory=None,
                                                                                  steps=[('num_imputer',
                                                                                          SimpleImputer(add_indicator=False,
                                                                                                        copy=True,
                                                                                                        fill_value=None,
                                                                                                        missing_values=nan,
                                                                                                        strategy='mean',
                                                                                                        v...
                                                                  random_state=None,
                                                                  subsample=1.0,
                                                                  tol=0.0001,
                                                                  validation_fraction=0.1,
                                                                  verbose=0,
                                                                  warm_start=False))],
                                verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'gbrt__max_depth': [2, 5, 10, 20, 30],
                          'gbrt__n_estimators': [200, 400, 600, 800, 1000, 1200,
                                                 1400, 1600, 1800, 2000]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring='neg_mean_squared_error', verbose=0)

In [248]:
grid_search2.best_params_

{'gbrt__max_depth': 5, 'gbrt__n_estimators': 1400}

In [249]:
best_gbrt = grid_search2.best_estimator_

In [250]:
pred_gbrt = best_gbrt.predict(X_test)

In [251]:
lin_mse = mean_squared_error(y_test, pred_gbrt) 
lin_rmse = np.sqrt(lin_mse)
lin_rmse

1619951.283061373

In [252]:

df_test['Open_Date_Converted'] = pd.to_datetime(df_test['Open Date'])
df_test['year'] = df_test['Open_Date_Converted'].dt.year 
df_test['month'] = df_test['Open_Date_Converted'].dt.month 
df_test['day'] = df_test['Open_Date_Converted'].dt.day

In [253]:

y_pred= best_random_forest_reg.predict(df_test)

random_fores_submit = pd.DataFrame({
    'Id': df_test['Id'],
    'Prediction': y_pred
})

# generate the csv
random_fores_submit.to_csv('random-forest-submit.csv', index=False)