# Marriott Hotel Category Change 2020 Analysis

In [48]:
# import pandas
import pandas as pd
import numpy as np

In [49]:
# read data from csv
data=pd.read_csv("marriott-category-changes-2020.csv")
data.head()
print(data.shape)

(2185, 7)

## Question 1
Discribe the data types for each feature/column, e.g., xxx feature's data type is String, yyy feature's data type is float, etc.

In [50]:
data.dtypes

Hotel                     object
Brand                     object
Destination               object
Current Category           int64
Current Standard Price     int64
New Category               int64
New Standard Price         int64
dtype: object

## Question 2
- How many hotels are in this dataset?
- The hotels are from how many unique brands?
- Which destination/country has the most hotels listed in this dataset? List the total number of hotels in that country
- How many brands in China have hotel category changes?

In [51]:
print(data.shape[0])

print(" ")
print(data['Brand'].nunique())
print(" ")

print(data['Destination'].value_counts())
print(" ")

temp=data.query('Destination=="China"')
temp=temp.query('`New Category` != `Current Category`')
print(temp['Brand'].nunique())

2185

30

USA          1548
Canada         76
China          68
Spain          34
Mexico         26
             ...
Ethiopia        1
Sri Lanka       1
Macau           1
Suriname        1
Lithuania       1
Name: Destination, Length: 98, dtype: int64

14

## Question 3
- What's the percentage of hotels worldwide with category upgrade in 2020?

In [52]:
data.query('`New Category` >`Current Category`').shape[0]/data.shape[0]

0.77162471395881

## Question 4
- List hotels with category changes greater than 1 if any, such as changing from category 3 to 5 or from category 7 to 4
- List all JW Marriott hotels in China that have a category upgrade

In [53]:
display(data.query('`New Category` - `Current Category`> 1 or `New Category` - `Current Category`< -1' ))
temp2=data.query('Destination=="China"')
display (temp2.query('`New Category` > `Current Category` & Brand =="JW Marriott"'))

,Hotel,Brand,Destination,Current Category,Current Standard Price,New Category,New Standard Price
913,"Four Points by Sheraton Bali, Ungasan",Four Points,Indonesia,4,25000,2,12500

,Hotel,Brand,Destination,Current Category,Current Standard Price,New Category,New Standard Price
1074,JW Marriott Hotel Chengdu,JW Marriott,China,3,17500,4,25000
1078,JW Marriott Hotel Shenzhen,JW Marriott,China,3,17500,4,25000
1079,JW Marriott Hotel Shenzhen Bao'an,JW Marriott,China,3,17500,4,25000
1083,JW Marriott Hotel Zhengzhou,JW Marriott,China,2,12500,3,17500

## Question 5
Assume you are in Feburary 2020 and the category changes will take effect on March 4, 2020. You are planning your trip to Florence, Italy and Hong Kong, China in April. You only stay in category 8 hotel (existing category 8 or future category 8) and want to optimize your point spending. Based on the data, which hotel you should book? when should you book your hotels for Florence and Hong Kong? Why?

In [54]:
temp3=data.query('Destination in ["China","Italy"] ')
display(temp3.query('`New Category` == 8 or  `Current Category`==8'))

,Hotel,Brand,Destination,Current Category,Current Standard Price,New Category,New Standard Price
145,"Cervo Hotel, Costa Smeralda Resort",Sheraton,Italy,7,60000,8,85000
519,"Cristallo, a Luxury Collection Resort & Spa, C...",Luxury Collection,Italy,8,85000,7,60000
1968,"The Westin Excelsior, Florence",Westin,Italy,7,60000,8,85000
2165,W Hong Kong,W Hotels,China,8,85000,7,60000